<div class="home-container">
  
  <div class="header">
    <button class="back-button" (click)="navigateTo('')">
      <img src="assets/icon/back1.png" alt="Back">
    </button>
    <h1 class="title">SESIÓN PRINCIPAL</h1>
  </div>

  
  <div class="main-image">
    <img src="assets/images/carpinteria.jpeg" alt="Carpintería" />
  </div>

  
  <p class="subtitle">CONSULTA TUS INTERESES</p>

  
  <div class="menu-grid">
    <div class="menu-item" (click)="navigateTo('agendar')">
      <img src="assets/icon/agendar.png" alt="Agendar" />
      <p>AGENDAR</p>
    </div>
    <div class="menu-item" (click)="navigateTo('productos')">
      <img src="assets/icon/product1.png" alt="Productos" />
      <p>PRODUCTOS</p>
    </div>
    <div class="menu-item" (click)="navigateTo('quienes-somos')">
      <img src="assets/icon/quienesomos.jpg" alt="¿Quiénes Somos?" />
      <p>¿QUIÉNES SOMOS?</p>
    </div>
    <div class="menu-item" (click)="navigateTo('contacto')">
      <img src="assets/icon/contactanos1.jpg" alt="Contáctanos" />
      <p>CONTÁCTANOS</p>
    </div>
  </div>
</div>
